<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      <h1>Puppies!</h1>
      <br/>
      <h2>Use this area to display information. </h2>
      <br/>
      <hr>
      <h3>During development, test your api here.</h3>
      <br/>
      <br/>
      <h4>GET a view</h4>
      <ol>
        <li>
          <a href="http://localhost:8089/puppy">http://localhost:8089/puppy</a>
        </li>
        <li>
          <a href="http://localhost:8089/puppy/create">http://localhost:8089/puppy/create</a>
        </li>

        <li>
          <a href="http://localhost:8089/puppy/edit/1">http://localhost:8089/puppy/edit/1</a>
        </li>
        <li>
          <a href="http://localhost:8089/puppy/edit/2">http://localhost:8089/puppy/edit/2</a>
        </li>
        <li>
          <a href="http://localhost:8089/puppy/edit/3">http://localhost:8089/puppy/edit/3</a>
        </li>

        <li>
          <a href="http://localhost:8089/puppy/delete/1">http://localhost:8089/puppy/delete/1</a>
        </li>
        <li>
          <a href="http://localhost:8089/puppy/delete/2">http://localhost:8089/puppy/delete/2</a>
        </li>
        <li>
          <a href="http://localhost:8089/puppy/delete/3">http://localhost:8089/puppy/delete/3</a>
        </li>

        <li>
          <a href="http://localhost:8089/puppy/details/1">http://localhost:8089/puppy/details/1</a>
        </li>
        <li>
          <a href="http://localhost:8089/puppy/details/2">http://localhost:8089/puppy/details/2</a>
        </li>
        <li>
          <a href="http://localhost:8089/puppy/details/3">http://localhost:8089/puppy/details/3</a>
        </li>

      </ol>
      <br/>
      <h4>GET JSON</h4>
      <ol>

        <li>
          <a href="http://localhost:8089/puppy/findall">http://localhost:8089/puppy/findall</a>
        </li>
        <li>
          <a href="http://localhost:8089/puppy/findone/1">http://localhost:8089/puppy/findone/1</a>
        </li>
        <li>
          <a href="http://localhost:8089/puppy/findone/2">http://localhost:8089/puppy/findone/2</a>
        </li>
        <li>
          <a href="http://localhost:8089/puppy/findone/3">http://localhost:8089/puppy/findone/3</a>
        </li>

      </ol>


    </div>
  </div>
</div>